<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">EX Issue Tracker</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
				<li><a href="#/add/ex">Add Issue</a></li>
				<li><a href="#/handler/김동현">김동현</a></li>
				<li><a href="#/handler/김세환">김세환</a></li>
				<li><a href="#/handler/김승걸">김승걸</a></li>
				<li><a href="#/handler/김용권">김용권</a></li>
				<li><a href="#/handler/신주한">신주한</a></li>
				<li><a href="#/handler/양은모">양은모</a></li>
				<li><a href="#/handler/홍윤기">홍윤기</a></li>
      </ul>
    </div>
  </div>
</nav>
